<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Salon</title>
</head>
<body>
    <h1>Edit Salon</h1>
    <form action="/salons/<%=salon._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="salon[name]" value="<%= salon.name %>">
        </div>
        <div>
            <label for="location">location</label>
            <input type="text" id="location" name="salon[location]" value="<%= salon.location %>">
        </div>
        <button>Edit Salon</button>
    </form>
    <footer>
        <a href="/salons/<%= salon._id %>"> Back to salon</a>
    </footer>
</body>
</html>