<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salons</title>
</head>
<body>
    <h1>All salons</h1>

    <div>
        <a href="/salons/new">New Salon</a>
    </div>
    <ul>
        <% for (let salon of salons) { %>
        <li><a href="/salons/<%= salon._id %>"><%= salon.name %></a></li>
        <% } %>
    </ul>
</body>
</html>