<% layout('layouts/Boilerplate')%>
<div class="row">
    <h1 class="text-center">New Salon</h1>
<div class="col-6 offset-3">
    <form action="/salons" method="post">
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" name="salon[name]">
        </div>
        <div class="mb-3">
            <label class="form-label"  for="location">location</label>
            <input class="form-control"  type="text" id="location" name="salon[location]">
        </div>
        <div class="mb-3">
            <label class="form-label"  for="image">Image URL</label>
            <input class="form-control"  type="text" id="image" name="salon[image]">
        </div>
        <div class="mb-3">
            <label class="form-label"  for="description">Description</label>
            <textarea class="form-control"  type="text" id="description" name="salon[description]"></textarea>
           
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add Salon</button>
        </div>
        
    </form>

        <a href="/salons"> All salons</a>

</div>
</div>
    